# Supabase (нужны для загрузки изображений в Storage)
VITE_SUPABASE_URL=https://gxnockenqjnuyldrrcox.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd4bm9ja2VucWpudXlsZHJyY294Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE1NzYyNzUsImV4cCI6MjA4NzE1MjI3NX0.1c4LhIK2BYMqx8Z1OPLoGII-1R4X0wvglfM1UeYFSEY

# Remote DB JSON (для проверки PR)
VITE_DB_CATEGORIES_URL=https://mocki.io/v1/7fe221dc-9496-455c-8240-ffe80befe8e0
VITE_DB_CITIES_URL=https://mocki.io/v1/c5f0912b-8341-4887-80b9-58924e3fc425
VITE_DB_SKILLS_URL=https://mocki.io/v1/aecb5b06-8b9f-4a7d-9947-c41069028f99
VITE_DB_USERS_URL=https://mocki.io/v1/ebd22dc8-4416-48c9-a133-67c224bbcb9a