# Сервер
PORT=3000

# Хеширование паролей
HASH_SALT=10

# База данных
DB_HOST=localhost
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=skillswap_db

# JWT (сгенерируй свои ключи)
JWT_ACCESS_SECRET=your_super_secret_access_key_change_me_in_production
JWT_REFRESH_SECRET=your_super_secret_refresh_key_change_me_in_production
JWT_ACCESS_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_IN=7d
