.root {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20.25rem, 20.25rem));
  gap: 1.5rem;
}

.empty {
  color: var(--text-color);
}

.trigger {
  display: flex;
  grid-column: 1 / -1;
  align-items: center;
  justify-content: center;
}

.loader {
  font-family: var(--font-family-heading);
  font-size: var(--heading-h1-font-size);
  font-weight: var(--font-weight-medium);
  letter-spacing: -0.01em;
}